<html>
	<body>
		<p><img src="http://{{IMG_URL}}/logo_136x92.png" border=0 valign=middle></p>
		<p align=justify>
			<center><h2>Contato Feito Pelo WebSite</h2></center>
			<br>
			<p align=justify>
				<table border=0 cellspacing=3 cellpadding=3>
					<tr>
						<td align=right valign=top width=100>
							<b>Nome:<b>
						</td>
						<td align=left valign=top width=500>
							<font color=blue>{{NAME}}</font>
						</td>
					</tr>
					<tr>
						<td align=right valign=top width=100>
							<b>E-Mail:<b>
						</td>
						<td align=left valign=top width=500>
							<font color=blue>{{EMAIL}}</font>
						</td>
					</tr>
					<tr>
						<td align=right valign=top width=100>
							<b>Assunto:<b>
						</td>
						<td align=left valign=top width=500>
							<font color=blue>{{SUBJECT}}</font>
						</td>
					</tr>
					<tr>
						<td align=right valign=top width=100>
							<b>Mensagem:<b>
						</td>
						<td align=left valign=top width=500>
							<font color=blue>{{MSG}}</font>
						</td>
					</tr>
				</table>
			</p>
			<br/><br/>
			<hr size=0 noshade>
			<p align=left>
				<table><tr><td align=left width=167 valign=top>
					<img src="http://{{IMG_URL}}/segvida_logo_mail_162x40.png" width=162 height=40 border=0><br>
					<font size=-1><i>
					<img src="http://{{IMG_URL}}/mail_phone_icon_14x14.png" width=14 height=14 border=0> +55-31-3817-4149
					</i></font>
				</td><td align=left width=500>
					<b>SEGVIDA - Consultoria Especializada em Seguranša do Trabalho</b><br/>
					<font size=-1><i>
					Rua Anselmo Vasconcelos, 22/01 e 02<br/>
					Guarapiranga - Ponte Nova - MG - CEP 35430-207<br/>
					<a href="www.segvidamg.com.br" target="_blank">www.segvidamg.com.br</a><br/><br/>
					</i></font>
				</td></tr></table>
			</p>
		</p>
	</body>
</html>