﻿<div id='body_panel_conf'>
	<div id='top_menu_panel'><img id='bt_home' src='img/bt_home1a.png' border=0 width=76 height=52 onmouseover="this.src='img/bt_home1b.png';" onmouseout="this.src='img/bt_home1a.png';"><img id='bt_telexfree' src='img/bt_telexfree1a.png' border=0 width=91 height=52 onmouseover="this.src='img/bt_telexfree1b.png';" onmouseout="this.src='img/bt_telexfree1a.png';"><img id='bt_equipe' src='img/bt_equipe1a.png' border=0 width=75 height=52 onmouseover="this.src='img/bt_equipe1b.png';" onmouseout="this.src='img/bt_equipe1a.png';"><img id='bt_servicos' src='img/bt_servicos1a.png' border=0 width=86 height=52 onmouseover="this.src='img/bt_servicos1b.png';" onmouseout="this.src='img/bt_servicos1a.png';"><img id='bt_func' src='img/bt_func1a.png' border=0 width=143 height=52 onmouseover="this.src='img/bt_func1b.png';" onmouseout="this.src='img/bt_func1a.png';"><img id='bt_tbclub' src='img/bt_tbclub1a.png' border=0 width=69 height=52 onmouseover="this.src='img/bt_tbclub1b.png';" onmouseout="this.src='img/bt_tbclub1a.png';"><img id='bt_agenda' src='img/bt_agenda1a.png' border=0 width=80 height=52 onmouseover="this.src='img/bt_agenda1b.png';" onmouseout="this.src='img/bt_agenda1a.png';"><img id='bt_contato' src='img/bt_contato1a.png' border=0 width=95 height=52 onmouseover="this.src='img/bt_contato1b.png';" onmouseout="this.src='img/bt_contato1a.png';"></div>&nbsp;
	<br clear=all>
	<div id='body_panel_text_800'><center>
		<p><table border=0 cellspacing=5 cellpadding=5>
				<tr>
					<td align=left valign=top colspan=2>
						<b>Conferências On-Line:</b>
					</td>
				</tr>
				<tr>
					<td align=center valign=top width=1000>
						<p><b>Para entrar na conferência entre com o seguinte login:</b><br><br><i>C-<font color='#008000'>coloqueaquiseunome</font>-EquipeAlpha</i></p>
						<p>Se você chegou ao nosso site por indicação de algum membro<br> de nossa equipe acesse com o segunte login:<br><br>
						<i>C-<font color='#008000'>coloqueaquiseunome</font>-TxF.<font color='#FF0080'>nomedequemteconvidou</font></i></p>
						<p>NÃO É NECESSÁRIO SENHA</p>
						<p>Para acessar a conferência On-Line <a href='http://login.meetcheap.com/conference,grupobrasil' target='_blank'>clique aqui</a></p>
					</td>
				</tr>
			</table>
		</p>
		</center>
	</div>
</div>