<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<p><img src="http://{{IMG_URL}}/logo_136x92.png" border=0 valign=middle></p>
		<p align=justify>
			<center><h2>Conta Ativada Com Sucesso!</h2></center>
			<br/>
			<center>
				<p align=center>Sua conta foi ativada e já está pronta para uso.</p>
				<br/>	
			</center>
			
			<p align=center><a href="{{LOGIN_URL}}">Clique aqui para efetuar o login no sistema</a></p>
			<br/><br/>
			<hr size=0 noshade>
			<p align=left>
				<table><tr><td align=left width=167 valign=top>
					<img src="http://{{IMG_URL}}/segvida_logo_mail_162x40.png" width=162 height=40 border=0><br>
					<font size=-1><i>
					<img src="http://{{IMG_URL}}/mail_phone_icon_14x14.png" width=14 height=14 border=0> +55-31-3817-4149
					</i></font>
				</td><td align=left width=500>
					<b>SEGVIDA - Consultoria Especializada em Segurança do Trabalho</b><br/>
					<font size=-1><i>
					Rua Anselmo Vasconcelos, 22/01 e 02<br/>
					Guarapiranga - Ponte Nova - MG - CEP 35430-207<br/>
					<a href="www.segvidamg.com.br" target="_blank">www.segvidamg.com.br</a><br/><br/>
					</i></font>
				</td></tr></table>
			</p>
		</p>
	</body>
</html>